<div class="login-container">
  <h2>Create Account</h2>
  <div class="signup-card-footer">
    Already have an account? <a [routerLink]="['/login']">Sign In</a>
  </div>
  <form>
    <div class="form-group">
      <label for="username">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="email" required />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>

    <div class="form-group">
      <button type="submit" (click)="register()">Register</button>
    </div>

    <div class=" image row mt-2">
      <a  (click)="signInWithGoogle()" style="text-decoration: none; cursor: pointer; " >
        <div class="card shadow text-center" style="border-radius: 50%; ">
          <div class="card-body" >
            <img src="/assets/google.png" alt="" width="24px" height="24px" >
          </div>
        </div>
      </a>
    </div>

  </form>
</div>
