
    <div class="center">
<div class="block">
          <div class="text">
            <h2>the varification mail is sent to your registered mail id</h2>
          </div>
          <div class="text2">
            <div class="text3">
              <button
                type="button"
                class="btn1"
                [routerLink]="['/login']"
              >
                get back to login
              </button>
            </div>
          </div>
        </div>  
    
      </div>
