/* forget-password.component.css */
.forget-password-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
  }
  
  .forget-password-container h2 {
    color: #343a40;
  }
  
  .forget-password-container p {
    color: #495057;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #495057;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    color: #495057;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-group input:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-group button {
    background-color: #045788;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.15s ease-in-out;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
  .signup-card-footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
  
  .signup-card-footer a {
    color: #010c18;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-card-footer a:hover {
    text-decoration: underline;
  }
  a{
   cursor:pointer;
   text-decoration: none;
  }
  