<!-- forget-password.component.html -->
<div class="forget-password-container">
    <h2>Forget Password?</h2>
    <p>Enter your email address to reset your password.</p>
    <form >
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
  
      <div class="form-group">
        <button type="button" (click)="forgetPassword()">Reset Password </button>
      </div>
      <div class="signup-card-footer">
        <a [routerLink]="['/login']">Back to login </a>
      </div>
    </form>
  </div>
  
